{% extends 'base.html' %}
{% block title %}
Quem somos
{% endblock %}

{% block content %}
    <main>
        <section>
            <br>
            <br>
            <h1>Quem somos</h1>
            <br>
            <p>Lorem <strong>ipsum dolor</strong> sit amet consectetur adipisicing elit. Dignissimos accusamus nam quos hic maxime, amet iure eveniet ducimus aliquam minima in nemo, debitis quam commodi ab veniam quisquam! Voluptate, accusantium. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui rem magni nulla, eligendi ducimus sunt adipisci a voluptate odio tempora consequatur dolore, totam accusamus odit? Illum nostrum quidem voluptatem quod.</p>
        </section>
        <section>
            <br>
            <h1>5 motivos para estudar</h1>
            <br>
            <ol>
                <li>Material sempre atualizado</li>
                <li>Tablets em sala de aula</li>
                <li>Professores renomados</li>
                <li>Universidade bem avaliada</li>
                <li>Ótima locação</li>
            </ol>
            <br>
            <hr>
        </section>
        <section>
            <br>
            <h1>Objetivos</h1>
            <br>
            <p>Lorem <strong>ipsum dolor</strong> sit, amet consectetur adipisicing elit. Alias nihil cum ut necessitatibus? Voluptatibus, ipsam, quia ipsum nihil rerum laudantium excepturi neque fugit porro eius in. Aliquam expedita earum iure. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima quam vel cupiditate, natus officiis, ducimus accusamus iure, eius enim sit omnis reiciendis illum? Eveniet temporibus maiores et sed, enim laudantium. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis sapiente hic delectus a, doloribus doloremque! Quis voluptatem ipsum quos quibusdam, inventore eius blanditiis et, possimus provident minima facere, rerum fugiat!</p>
        </section>
    </main>
{% endblock %}